@import url(./typography.css);

main {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.lock {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px auto;
    justify-content: center;
}

.submit-button {
    width: 100%;
    max-width: 400px;
    padding: 1em;
    margin: 1em auto;
    display: block;
}

.dial {
    font-family: 'KHScala';
    font-size: 3.2rem;

    border: 1px solid #ccc;
    height: 200px;
    width: 200px;
    position: relative;
    background-color: lightgray;
    margin: 10px;
}

.dial input {
    display: none;
}

.dial input:checked + label {
    color: firebrick;
}

.dial label {
    position: absolute;
    cursor: pointer;
}

.dial label:hover {
    filter: drop-shadow(0 0 1rem #ff9900);
}

.dial-label--1 {
    top: 5%;
    left: 58%;
}

.dial-label--2 {
    top: 27%;
    left: 76%;
}

.dial-label--3 {
    top: 54%;
    left: 74%;
}

.dial-label--4 {
    top: 72%;
    left: 56%;
}

.dial-label--5 {
    top: 72%;
    left: 32%;
}

.dial-label--6 {
    top: 54%;
    left: 12%;
}

.dial-label--7 {
    top: 27%;
    left: 10%;
}

.dial-label--8 {
    top: 5%;
    left: 25%;
}


.message {
    width: 100%;
    max-width: 400px;
    margin: 1em auto;
    display: block;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
}

.message--success {
    background-color: lightblue;
}

.message--error {
    background-color: lightcoral;
}

